body {
    margin: 0;
    font-family: 'Inter';
}

.content-destop{
    width: 100%;
    min-width: 1024px;
    height: 100vh;
    display: flex;
    font-family: Inter;
    box-sizing: border-box;
    position: relative;
}
/* help page start*/
.help-content{
    background-color: #F6F7F8;
    position: relative;
    left: 232px;
    top: 89px;
    height: calc(100vh - 89px);
    width: calc(100% - 232px);
    padding: 80px;
    box-sizing: border-box;
}

.help-content img{
    position: absolute;
    top: 80px;
    right: 80px;
}

.help-content img:hover{
    cursor: pointer;
}

.help-content h1{
    margin: 0;
    font-size: 48px;
    margin-bottom: 40px;
}

.help-table{
    margin-top: 44px;
}


.help-table div{
    display: flex;
    align-items: center;
}

.help-table span{
    font-size: 24px;
    font-weight: bold;
    margin-right: 24px ;
}

/* help page end*/

.inner-content{
    background-color: #F6F7F8;
    position: relative;
    left: 232px;
    top: 89px;
    height: calc(100vh - 89px);
    width: calc(100% - 232px);
}

h3 {
    font-size: 20px;
    font-weight: 400;
}

.complete-page {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

/* Left side of Page  */

.all-contacts {
    width: 35%;
    max-height: 90vh;
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.alphabet-box {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-letter-box {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    margin-bottom: 20px;
}

.line {
    width: 80%;
    height: 2px;
    background-color: rgb(226, 226, 226);
}

.single-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.single-contact:hover {
    background-color: rgb(42, 54, 71);
    color: white;
}

.initials {
    height: 40px;
    width: 40px;
    background-color: orange;
    color: white;
    font-size: 12px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.name-email {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.name-small {
    font-size: 18px;
    font-weight: 600;
}

.email-small {
    font-size: 10px;
    font-weight: 600;
    color: rgb(12, 104, 191);
}


/* Right side of Page  */

.complete-contact {
    width: 65%;
    background-color: rgb(246, 247, 248);
    display: flex;
    justify-content: center;
    position: relative;
}

.this-contact {
    width: 80%;
    margin-top: 60px;
}

.head {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headline-contacts h1 {
    font-size: 50px;
    font-weight: 700;
}

.horizontal-line {
    width: 4px;
    height: 50px;
    background-color: rgb(41, 171, 226);
    margin-left: 20px;
    margin-right: 20px;
}

.motivation {
    font-size: 25px;
    font-weight: 500;
    color: rgb(42, 54, 71);
}

.name {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

.initials-big {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 90px;
    background-color: orange;
    border: 2px solid white;
    color: white;
    font-size: 35px;
    border-radius: 50%;
    margin-right: 40px;
}

.name-addTask {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name-big h2 {
font-size: 40px;
font-weight: 600;
}

.addTask-button {
    color: rgb(41, 171, 226);
    font-size: 15px;
    font-weight: 600;
}

.contact-information {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}

.heading-information {
    font-size: 18px;
    font-weight: 500;
    margin-right: 70px;
}

.edit-contact {
    display: flex;
    align-items: flex-end;
    font-size: 12px;
}

.edit-contact img {
    height: 25px;
    margin-right: 10px;
}

.email-div {
margin-top: 30px;
}

.contact-variant {
    font-size: 13px;
    font-weight: 800;
}

.email-adress {
    font-size: 12px;
    color: rgb(41, 171, 226);
    font-weight: 600;
    margin-top: 7px;
}

.phone-div {
    margin-top: 20px;
}

.phone-number {
    font-size: 13px;
    color: black;
    font-weight: 600;
    margin-top: 7px;
}

.new-contact-button {
    position: absolute;
    bottom: 10%;
    right: 10%;
}

.new-contact-button img {
    height: 45px;
}

@media (max-width: 1024px) {
    .content-destop{
        display: none;
    }
}