body{
    display: flex;
    justify-content: center;
    margin: 0;
}

.content-destop{
    width: 100%;
    min-width: 1024px;
    max-width: 1280px;
    height: 100vh;
    display: flex;
    font-family: Inter;
    box-sizing: border-box;
    position: relative;
}

.inner-content{
    background-color: #F6F7F8;
    position: relative;
    left: 16%;
    top: 89px;
    height: calc(100vh - 89px);
    width: 84%;
}

.headline{
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-top: 48px;
    margin-bottom: 54px;
}

.headline h1{
    font-size: 50px;
    margin: 0;
}

.headline img{
    height: 60px;
    object-fit: contain;
    margin: 0px 30px;
}

.headline span{
    font-size: 24px;
    color: #2A3647;
    margin: 0;
}

.summary{
    display: flex;
    width: 100%;
    padding-left: 10%;
    box-sizing: border-box;
}

.summary-information{
    display: flex;
    flex-direction: column;
    width: 48%;
}

.first-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.first-row div{
    width: 29%;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: white;
    text-align: center;
}

.first-row h2{
    font-size: 48px;
    margin: 0;
}

.first-row span{
    width: 64px;
    font-size: 18px;
}

.second-row{
    width: 100%;
    aspect-ratio: 3.9 / 1;
    margin: 6.5% 0px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    align-items: center;
}

.second-row div{
    display: flex;
    align-items: center;
}

.urgent-tasks{
    height: 72%;
    width: 46%;
    border-right: 2px solid rgb(187, 187, 187);
    justify-content: space-evenly;
    box-sizing: border-box;
    padding-left: 5%;
}

.urgent-tasks img{
    height: 46px;
    object-fit: contain;
}

.urgent-tasks div{
    flex-direction: column;
    text-align: center;
}

.urgent-tasks h2{
    margin: 0;
    font-size: 38px;
}

.upcoming-deadline{
    flex-direction: column;
    width: 52%;
    align-items: unset !important;
    padding-left: 12%;
    box-sizing: border-box;
}

.third-row{
    display: flex;
    justify-content: space-between;
}

.third-row div{
    width: 47%;
    aspect-ratio: 100 / 55;
    border-radius: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-div-row-3{
    flex-direction: column;
    width: unset !important;
}

.third-row img{
    height: 50px;
    object-fit: contain;
    margin-right: 16%;
}

.third-row h2{
    font-size: 48px;
    margin: 0;
}

.greeting{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #2A3647;
    font-size: 48px;
    padding-left: 7%;
}

.greeting_name{
    color: #29ABE2;
    font-weight: 700;
    font-size: 54px;
}

.d-none{
    display: none;
}


@media(max-width: 1024px){

    .topper{
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: space-between;
        padding: 20px 24px;
        box-sizing: border-box;
        box-shadow: 0px 4px 2px -2px rgb(195, 195, 195);
    }

    .topper img{
        height: 39px;
        object-fit: contain;
    }

    .profile-pic{
        border-radius: 100%;
        border: 1px solid black;
    }

    .footer{
        z-index: 999;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        box-sizing: border-box;
        background-color: #2A3647;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .content-section{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 24%;
        color: white;
        box-sizing: border-box;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0px;
    }

    .content-section div{
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content-section img{
        height: 24px;
        object-fit: contain;
    }

    .content-section:hover{
        cursor: pointer;
        background-color: #091931;
    }

    .active-content-section{
        background-color: #091931;
    }

    .content-destop{
        display: none;
    }

    .content-mobile{
        background-color: #F6F7F8;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height:calc(100vh - 159px);
        top: 79px;
    }

    .headline-mobile{
        margin-top: 32px;
        margin-left: 32px;
    }

    .headline-mobile h1{
        font-size: 36px;
        margin: 12px 0px;
    }

    .summary-information-mobile{
        padding: 16px;
        margin-top: 48px;
    }
}