body{
    font-family: Inter;
}

.content-background{
    z-index: 100;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-addtask{
    width: 80%;
    max-width: 1024px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    border-radius: 40px;
    position: relative;
}

.close-btn{
    position: absolute;
    right: 32px;
    top: 36px;
}

.close-btn:hover{
    cursor: pointer;
}

h1{
    font-size: 52px;
    margin: 0;
    margin-bottom: 32px;
}

.formContentWithButton {
    display: flex;
}

.divContentAddtask {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 16px 24px;
}

input {
    font-family: Inter;
    font-size: 14px;
    padding: 4px;
    border-radius: 8px;
    border: 1px solid rgb(214, 214, 214);
    margin-left: 8px;
}

input:hover {
    cursor: pointer;
}

input:focus {
    outline: none;
}

textarea {
    font-family: Inter;
    font-size: 14px;
    padding: 4px;
    border-radius: 8px;
    border: 1px solid rgb(214, 214, 214);
    margin-left: 8px;
    resize: none;
}

textarea:hover {
    cursor: pointer;
}

textarea:focus {
    outline: none;
}

select {
    font-family: Inter;
    font-size: 14px;
    padding: 4px;
    border-radius: 8px;
    border: 1px solid rgb(214, 214, 214);
    margin-left: 8px;
}

select:focus {
    outline: none;
}

select:hover {
    cursor: pointer;
}

.divContentAddtask span {
    margin-top: 24px;
    margin-bottom: 6px;
}

.choosePriority {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.choosePriority img {
    object-fit: contain;
    width: 16px;
    margin-left: 8px;
}

.choosePriority span {
    margin: 0;
}

.choosePriority div {
    width: 100px;
    height: 40px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choosePriority div:hover {
    cursor: pointer;
    transition: 175ms ease-in-out;
    transform: scale(1.1);
    box-shadow: 1px 1px 1px 1px rgb(194, 194, 194);
}

.choosePriorityPicked{
    transform: scale(1.1);
    box-shadow: 1px 1px 1px 1px rgb(194, 194, 194);
    pointer-events: none;
    color: white;
}

.choosePriorityPicked img{
    filter: invert(99%) sepia(64%) saturate(2%) hue-rotate(57deg) brightness(109%) contrast(101%);
}

.div-button {
    margin-top: 48px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.div-button button {
    font-size: 16px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0px 8px;
}

.div-button img {
    height: 10px;
    object-fit: contain;
    margin-left: 10px;
}

.clear-btn {
    border: 1px solid #2A3647;
    border-radius: 10px;
    color: #2A3647;
    background-color: white;
    width: 88px;
    display: flex;
    justify-content: center;
}

.clear-btn:hover {
    cursor: pointer;
    border-color: #29ABE2;
    color: #29ABE2;
}

.clear-btn:hover img {
    filter: invert(55%) sepia(88%) saturate(713%) hue-rotate(165deg) brightness(92%) contrast(92%);
}

.create-task-btn {
    margin-left: 32px;
    background-color: #2A3647;
    border: 0;
    border-radius: 10px;
    color: white;
    font-weight: 600;
}

.create-task-btn:hover {
    background-color: #29ABE2;
    cursor: pointer;
}

@media(max-width:1024px){
    .content-background{
        z-index: 4;
        top: 120px;
    }

    .content-addtask{
        width: 100%;
        height: 100%;
        border-radius: 0;
        background-color: #F6F7F8;
    }

    .formContentWithButton{
        flex-direction: column;
        align-items: center;
    }

    .clear-btn{
        display: none !important;
    }

    .create-task-btn {
        z-index: 10;
        position: fixed;
        top: 16px;
        right: 18px;
        background-color: #2A3647;
        border: 0;
        border-radius: 10px;
        color: white;
        font-weight: 600;
        font-size: 16px;
        height: 48px !important;
        display: flex;
        align-items: center;
        padding: 0px 8px;
    }

    .divContentAddtask{
        width: 66%;
    }

    .choosePriority{
        justify-content: space-evenly;
    }

    .choosePriority div {
        min-width: 88px;
        width: 20%;
    }
}

@media(max-width:700px){
    .divContentAddtask{
        width: 100%;
    }

    .content-addtask{
        padding: 16px 2%;
    }

    h1{
        font-size: 42px;
    }
}