<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="script.js"></script>
    <link rel="stylesheet" href="assets/templates/help_template_style.css">
</head>
<body>
    <div class="help-content d-none" id="help-content">
        <h1>Help</h1>
        <img src="assets/img/backButton.svg" onclick="hideHelp()">
        <div>
            <h2>What is Join?</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia repellendus libero voluptatibus
                recusandae cupiditate exercitationem, eligendi harum culpa natus obcaecati. Consectetur incidunt
                quaerat quas aperiam, blanditiis enim in eos maxime?</p>
        </div>
        <div class="help-table">
            <h2>How to use it</h2>
            <div>
                <span>1.</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. rerum dolorum ipsum perferendis qui
                    optio autem aliquam, in corporis asperiores distinctio cumque placeat.</p>
            </div>
            <div>
                <span>2.</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, pariatur ab aliquid vero
                    assumenda cum illo delectus at eum a laudantium ad eius amet, explicabo hic. Animi suscipit
                    cumque magni.</p>
            </div>
            <div>
                <span>3.</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, sunt. Rem vitae fuga aspernatur
                    eum a non delectus!</p>
            </div>
        </div>
    </div>
</body>
</html>