<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="assets/templates/mobile_template_style.css">
</head>
<body>
    <div class="topper-mobile">
        <img src="assets/img/joinlogoBlack.svg">
        <img src="assets/img/profile_pic.svg" class="profile-pic">
    </div>
    <div class="footer">
        <div class="content-section-mobile" id="summary-section-mobile">
            <div>
                <img src="assets/img/icon-summary.svg">
            </div>
            <span>Summary</span>
        </div>
        <div class="content-section-mobile" id="board-section-mobile">
            <div>
                <img src="assets/img/icon-board.svg">
            </div>
            <span>Board</span>
        </div>
        <div class="content-section-mobile" id="addtask-section-mobile">
            <div>
                <img src="assets/img/icon-addtask.svg">
            </div>
            <span>Add Task</span>
        </div>
        <div class="content-section-mobile" id="contacts-section-mobile">
            <div>
                <img src="assets/img/icon-contacts.svg">
            </div>
            <span>Contacts</span>
        </div>
    </div>
</body>
</html>